/* start variabls */

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787E0;
    --main-transition: all 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

/* end variabls */

/* start global rules */

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: 'Cairo', sans-serif;

}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

.image {
    max-width: 100%;
}

.container {
    padding: 0 15px;
    margin: 0 auto;

}

/* mobail */

@media (max-width: 767px) {
    .container {
        width: 370px;
    }
}

/* small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */


@media(max-width:767px) {
    .container {
        width: 100%;
    }
}


@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules */


/* start componants */

.main-title {
    text-transform: uppercase;
    border: solid 2px black;
    width: fit-content;
    margin: 0px auto 80px;
    padding: 10px 20px;
    font-size: 1.6em;
    position: relative;
    z-index: 9;
    transition: var(--main-transition);
}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    border-radius: 50%;
}

.main-title::before {
    left: -35px;
}

.main-title::after {
    right: -35px;
}

.main-title:hover {
    color: white;
    border-color: white;
    transition-delay: 0.5s;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}


/* end componants */


/* start header */

header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    position: relative;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

header .logo {
    height: 73px;
    color: var(--main-color);
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;

}


@media(max-width:767px) {
    header .container .logo {
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
    }
}

header .main-nav {
    display: flex;
}

@media(max-width:767px) {
    header .container .main-nav {
        margin: auto;
    }
}

header .main-nav>li:hover .mega-menu {
    opacity: 1;
    z-index: 9;
    top: calc(100% + 1px);
}

header .main-nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    padding: 0 30px;
    color: black;
    position: relative;
    transition: var(--main-transition);
    overflow: hidden;
}


@media(max-width:767px) {
    header .main-nav li>a {
        padding: 10px;
        font-size: 12px;
        height: 40px;
    }
}


header .main-nav>li>a::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--main-color);
    top: 0px;
    left: -100%;
    transition: var(--main-transition);
}

header .main-nav>li>a:hover {
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    color: var(--main-color);
}


header .main-nav>li>a:hover::before {
    left: 0;
}

header .mega-menu {
    position: absolute;
    width: 100%;
    padding: 30px;
    left: 0;
    top: calc(100% + 50px);
    background-color: white;
    display: flex;
    border-bottom: 4px solid var(--main-color);
    opacity: 0;
    z-index: -1;
    transition: var(--main-transition);
}

header .main-nav>li:hover .mega-menu {
    opacity: 1;
    z-index: 9;
    top: calc(100% + 1px);
}


@media(max-width:767px) {
    header .container {
        width: 100%;
    }

    header .mega-menu {
        flex-direction: column;
        padding: 5px;
    }
}

@media(max-width:991px) {
    header .mega-menu .image {
        display: none;
    }
}

header .mega-menu .links {
    min-width: 270px;
    flex: 1;
}

header .mega-menu .links li {
    position: relative;
    margin: 0 20px;
}

header .mega-menu .links li:not(:last-child) {
    border-bottom: 2px solid #e9e6e6;

}

@media(max-width:767px) {
    header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 2px solid #e9e6e6;
    }
}

header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
}

header .mega-menu .links li:hover::before {
    width: 100%;
}


header .mega-menu .links li a {
    color: var(--main-color);
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}


header .mega-menu .links li a i {
    margin-right: 10px;
}

/* end header */


/* start landing  */
.landing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    left: 0;
    top: -60px;
    width: 100%;
    height: 100%;
    background-color: #eee;
    z-index: -1;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 73px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

.landing .text {
    flex: 1;
}

.landing .text h1 {
    font-size: 40px;
    padding: 0;
    letter-spacing: -1px;
}

.landing .text p {
    margin: 5px 0px;
    font-size: 22px;
    color: #777;
    line-height: 1.7;
    max-width: 500px;

}


@media(max-width:991px) {
    .landing .text {
        text-align: center;
    }

    .landing .text p {
        margin: 10px auto;
    }
}

@media(max-width:767px) {
    .landing .text h1 {
        font-size: 28px;
    }

    .landing .text p {
        font-size: 18px;
    }


}

.landing .img img {
    position: relative;
    width: 600px;
    animation: up-and-down 4s linear infinite;
}

@media(max-width:991px) {
    .landing .img {
        display: none;
    }
}

.landing .go-down {
    color: var(--main-color);
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    transition: var(--main-transition);

}

.landing .go-down i {
    font-size: 1.5em;
    font-weight: 900;
}

.landing .go-down:hover{
    color: var(--main-color-alt);
}

.landing .go-down i{
    animation: bouncing infinite 1.5s;
}


/* end landing  */

/*  start articles */

.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.articles .container .box {
    box-shadow: 
    1px 2px 15px rgba(0, 0, 0, 0.127);
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    transition: var(--main-transition);
}


.articles .container .box:hover {
    box-shadow: 
    2px 2px 15px rgba(0, 0, 0, 0.504);
    transform: translateY(-10px);
}

.articles .container img {
    width: 100%;
    max-width: 100%;
}

.articles .container .box .containt {
    padding: 20px;
}

.articles .container .box .containt h3 {
    margin: 0;
}

.articles .container .box .containt p {
    margin: 10px 0px 0px;
    color: #777;
    line-height: 1.6;
}

.articles .container .box .info {
    padding: 20px;
    border-top: solid 1px #e6e6e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .container .box .info a {
    color: var(--main-color);
    font-weight: bold;
}


.articles .container .box .info i {
    color: var(--main-color);
    transition: var(--main-transition);
}

.articles .container .box:hover .info i {
    animation: moving-arrow 0.6s linear infinite;
}


/*  end articles */

/* start gallery  */
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .box {
    padding: 15px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);

}

.gallery .box .img {
    position: relative;
    overflow: hidden;
 }

.gallery .box .img::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: rgba(245, 222, 179, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 2;
}

.gallery .box .img:hover::before {
    animation: flashing 0.7s;
}

.gallery .box img {
    transition: var(--main-transition);
}

.gallery .box .img:hover img {
    transform: rotate(5deg) scale(1.1)
}

/* end gallery  */

/* start FEATURES */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: white;
}

.features .container {
    display: grid;
    grid-template-columns: 
    repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.features .container .box {
    text-align: center;
    border: solid #ccc 1px;
    overflow: hidden;
}

.features .container .box .img {
    position: relative;
}

.features .container .box .img::before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
}

.features .container .box .img::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
   border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features .container .box:hover .img::after {
    border-width: 170px 500px 170px 0px;

}

.features .box h2 {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

.features .box h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);

}

.features .box p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0px;
    padding: 25px;
    color: #777;
}

.features .box a {
    display: block;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    border: solid 4px transparent;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto 30px;
    transition: var(--main-transition);
}

.features .Quality .img::before {
    background-color: #f43f3695;
}

.features .Quality h2::after {
    background-color: #f44036;
} 

.features .Quality a {
    color: #f44036;
    border-color: #f44036;
    background: 
    linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: var(--main-transition);
}

.features .Quality a:hover {
    background-position: left bottom;
    color: white;
}







.features .Time .img::before {
    background-color: rgba(0, 150, 136, 0.6);
}

.features .Time h2::after {
    background-color: rgb(0, 150, 135);
}

.features .Time a {
    color: rgb(0, 150, 135);
    border-color: rgb(0, 150, 135);
}


.features .Time a {
    background: linear-gradient(to right, rgb(0, 150, 135) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: var(--main-transition);
}

.features .Time a:hover {
    background-position: left bottom;
    color: white;
}




.features .Passion .img::before {
    background-color: rgba(3, 169, 244, 0.6);
}

.features .Passion h2::after {
    background-color: rgb(3, 168, 244);
}

.features .Passion a {
    color: rgb(3, 168, 244);
    border-color: rgb(3, 168, 244);
}


.features .Passion a {
    background: linear-gradient(to right, rgb(3, 168, 244) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: var(--main-transition);
}

.features .Passion a:hover {
    background-position: left bottom;
    color: white;
}

/* end FEATURES */

/* start TESTIMONIALS */

.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}


.testimonials .box {
    padding: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.071);
    background-color: white;
    border-radius: 7px;
    position: relative;
}

.testimonials .box img {
    position: absolute;
    top: -50px;
    right: -10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 10px var(--section-background);
}

.testimonials .box h3 {
    margin-bottom: 10px;
}

.testimonials .box span {
    display: block;
    margin-bottom: 10px;
    color: #777;

}

.testimonials .box .rate .filled {
    color: #ffc107;
}

.testimonials .box p {
    margin-top: 10px;
    margin-bottom: 0px;
    line-height: 1.5;
    color: #777;
    font-size: 15px;
}

/* end TESTIMONIALS */

/* start team-members */

.team-members {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    /* width: 100%; */
}

.team-members .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.team-members .box {
    position: relative;
}

.team-members .box::after,
.team-members .box::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
}

.team-members .box::before {
    background-color: #f3f3f3;
    width: calc(100% - 60px);
    z-index: -2;
}

.team-members .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}

.team-members .box:hover::after {
    width: calc(100% - 60px);
}

.team-members .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team-members .box .data img {
    border-radius: 10px;
    width: calc(100% - 60px);
    transition: var(--main-transition);
}

.team-members .box:hover img {
    filter: grayscale(100%);
}

.team-members .box .data .soci {
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.team-members .box .data .soci a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.team-members .box .data .soci i {
    color: #777;
    transition: var(--main-transition);
}

.team-members .box .data .soci a:hover i {
    color: var(--main-color);
}

.team-members .box .info {
    padding-left: 80px;
    margin: 20px 0px;
}

.team-members .box .info h3 {
    color: var(--main-color);
    margin-bottom: 15px;
    transition: var(--main-transition);
}

.team-members .box .info p {
    margin-bottom: 20px;
    margin-top: 0;
}

.team-members .box:hover .info h3 {
    color: #777;
}

/* end team-members */

/* start services */

.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.services .container .box {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 12px 20px 0px,
     rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
}

.services .box::before {
    content: "";
    position: absolute;
    top: -3;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    width: 0%;
    height: 3px;
    transition: var(--main-transition);
}

.services .box:hover {
    transform: translateY(-10%);
}

.services .box:hover::before {
    width: 100%;
}

.services .box>i {
    margin: 40px auto 20px;
    display: block;
    text-align: center;
    color: #d5d5d5;
}

.services .box>h3 {
    text-align: center;
    color: var(--main-color);
    margin: 20px 0 40px;
    font-size: 25px;
}

.services .box .info {
    padding: 15px;
    position: relative;
    text-align: right;
    background-color: #f9f9f9;
}

.services .box .info a {
    color: var(--main-color);
    font-weight: 500;
}

.services .box .info::before {
    content: "0" counter(services);
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    width: 85px;
    height: 100%;
    color: white;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.services .box .info::after {
    content: "";
    position: absolute;
    top: 0;
    left: 80px;
    width: 70px;
    height: calc(100% + 0.5px);
    background-color: #d5d5d5;
    transform: skewX(-30deg);
}

/* end services */

/* start our-skills */

.our-skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.our-skills .container {
    display: flex;
    align-items: center;
}

@media(max-width:991px) {
    .our-skills .container img {
        display: none;
    }
}

.our-skills .skills {
    flex: 1;
}

.our-skills .skill h3 {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

.our-skills .skill h3 span {
    border: 1px solid #ccc;
    border-radius: 4px;
    color: var(--main-color);
    font-size: 12px;
    padding: 3px 5px;
}

.our-skills .skill .the-progress {
    position: relative;
    height: 30px;
    background-color: #eee;
}

.our-skills .skill .the-progress span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--main-color);

}

/* end our-skills */

/* start work steps */

.work-steps {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

.work-steps .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width:991px) {
    .work-steps .container {
        flex-direction: column;
    }
    .work-steps .image {
        margin: 0 auto 50px;
    }
}

.work-steps .image {
    max-width: 100%;
    margin-right: 100px;
}

.work-steps .info .box {
    background-color: #f6f5f5;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 6px;
    border: solid 2px white;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

@media(max-width:767px) {
    .work-steps .info .box {
        flex-direction: column;
        text-align: center;
    }

    .work-steps .info .box img {
        margin-bottom: 40px;
    }
}

.work-steps .info .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #EDEDED;
    width: 0px;
    height: 0px;
    transition: var(--main-transition);
    z-index: -1;
}

.work-steps .info .box:hover::before {
    width: 100%;
    height: 100%;
}

.work-steps .info .box img {
    width: 64px;
    margin-right: 30px;
}

.work-steps .info .box .text h3 {
    margin: 0;
    font-size: 22px;
}

.work-steps .info .box .text p {
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}

/* end work steps */

/* start events */

.events {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.events .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.events .container img {
    max-width: 450px;
    margin-right: 100px;
}

@media (max-width:991px) {
    .events .container img {
        display: none;
    }
}


.events .container .info {
    flex: 1;
}

.events .info .time {
    display: flex;
    margin: 40px auto;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.events .info .time .unet {
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 75px;
    transition: var(--main-transition);
}

.events .info .time .unet span {
    display: block;
}

.events .info .time .unet span:first-child {
    font-size: 35px;
    color: var(--main-color);
    padding: 15px;
    font-weight: bold;
}

.events .info .time .unet span:last-child {
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
    transition: var(--main-transition);
}

.events .info .time .unet:hover,
.events .info .time .unet:hover span:last-child {
    border-color: var(--main-color);
}

.events .info .title {
    text-align: center;
    font-size: 2em;
}

.events .info .description {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 1.7;
    color: #777;
}

.events .container .subscribe {
    width: 100%;
    margin-top: 50px;
}

.events .subscribe form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

@media(max-width:767px) {
    .events .subscribe form {
        flex-direction: column;
        width: 100%;
        padding: 20px;
        border-radius: 0;
    }

    .events .subscribe form input[type="email"] {
        border-radius: 0;
    }

}

.events .subscribe form input[type="email"] {
    padding: 20px;
    border-radius: 50px;
    border: none;
    caret-color: var(--main-color);
    outline: none;
    flex: 1;
}

@media(max-width:767px) {
    .events .subscribe form input[type="email"] {
        border-radius: 0;
    }
}

.events .subscribe form input[type="email"]::placeholder {
    transition: var(--main-transition);
}

.events .subscribe form input[type="email"]:focus::placeholder {
    opacity: 0;
}

.events .subscribe form input[type="submit"] {
    border-radius: 50px;
    background-color: var(--main-color);
    border: none;
    padding: 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);

}


@media(max-width:767px) {
    .events .subscribe form input[type="submit"] {
        border-radius: 0;
    }
}

.events .subscribe form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}

/* end events */

/* start pricing  */


.pricing {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}


.pricing .box {
    background-color: white;
    position: relative;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
    z-index: 1;
    transition: var(--main-transition);
    text-align: center;
}

.pricing .box::before,
.pricing .box::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 0;
    background-color: #f6f6f6;
    z-index: -1;
    transition: var(--main-transition);
}

.pricing .box::before {
    top: 0;
    left: 0;
}

.pricing .box:hover::before,
.pricing .box:hover::after {
    width: 100%;
}

.pricing .box::after {
    bottom: 0;
    right: 0;

}

@media (min-width:1200px) {
    .pricing .box.popular {
        top: -20px;
    }
}

.pricing .popular .label {
    position: absolute;
    right: 20px;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    padding: 10px 10px 35px 10px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    width: 40px;
}

.pricing .popular .label::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 5px;
    background-color: transparent;
    border-style: solid;
    border-width: 20px;
    border-color: transparent transparent white transparent;
}

.pricing .box .title {
    margin: 30px 0px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
}

.pricing .box img {
    width: 80px;
    margin-bottom: 30px;
}


.pricing .box .price {
    margin-bottom: 20px;
}


.pricing .box .price .amount {
    display: block;
    margin-bottom: 8px;
    color: var(--main-color);
    font-size: 3.5em;
    font-weight: bold;
}

.pricing .box .price .time {
    color: #777;
}

.pricing .box ul {
    text-align: left;
}

.pricing .box ul li {
    padding: 20px;
    border-top: solid 1px #eee;
}

.pricing .box ul li::before {
    font-family: "font awesome 5 free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--main-color-alt);

}

.pricing .box a {
    display: block;
    width: fit-content;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    padding: 15px 20px;
    margin: 30px auto 40px;
    border-radius: 6px;
    font-weight: bold;
    transition: var(--main-transition);
}

.pricing .box a:hover {
    background-color: var(--main-color-alt);
    border-color: var(--main-color-alt);
    color: white;
}

/* end pricing  */

/* start videos */

.videos{
    padding-top:var(--main-padding-top) ;
    padding-bottom:var(--main-padding-bottom) ;
    position: relative;

}

.videos .holder{
    display: flex;
    justify-content: center;
    background-color: var(--section-background);
    border: solid 1px #ddd;
}

@media (max-width:991px) {
    .videos .holder{
        flex-direction: column;
    }
}

.videos .holder .list{
    min-width:300px;
    background-color: white;

}

.videos .holder .list .name{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
    background-color: rgb(244, 244, 244);
}


.videos .holder .list ul li{
    padding: 20px;
    border-top: 1px solid #ddd ;
    cursor: pointer;
    transition: var(--main-transition);
}

.videos .holder .list ul li:hover{
    color: var(--main-color);
    background-color: #fafafa;
}

.videos .holder .list ul li span{
    display: block;
    padding-top: 10px;
    color: #777;
}

.videos .holder .preview{
    background-color:#e2e2e2;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.videos .holder .preview .info{
    background-color: white;
    padding: 20px;
    margin-top: 10px;

}

/* end videos */

/* start stats */

.stats{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-image: url("../images/download.jpg");
    background-size: cover;
    min-height: 300px;
}


.stats::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
}

.stats h2{
   font-weight: bold;
   font-size: 40px;
   width: fit-content;
   margin:0 auto 50px ;
   position: relative;
}

.stats .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;  
}

.stats .box{
    background-color: white;
    padding: 30px 15px ;
    position: relative;
    text-align: center;
    opacity: 0.7;
    transition: all 1s;
    
}

.stats .box::before,
.stats .box::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: all 1s;
}


.stats .box::before{
    bottom: 0;
    left: 0;
}

.stats .box::after{
    top: 0;
    right: 0;
}


.stats .box:hover::before,
.stats .box:hover::after{
    height: 100%;
}


.stats .box:hover{
    opacity: 1;
}

.stats .box .number{
    display: block;
    margin: 12px 0;
    font-size: 3.5em;
    font-weight: bold;
}

.stats .box .text{
    font-style: italic;
    color: var(--main-color);
    font-weight: bold;
}

/* end stats */

/* start discount */

.discount{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount .image{
    position: relative;
    background-image: url("../images/download4.jpg");
    background-size: cover;
    color: white;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.discount .image ::before{
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 134, 224, 0.727);
    z-index: -1;
}

.discount .content{
    text-align: center;
    padding: 0 20px;

}

.discount .content h2{
    padding-top: 50px ;
    padding-bottom: 30px ;
    font-size: 40px;
    letter-spacing:-2px;
}

.discount .content p{
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

.discount img{
    width: 300px;
}

.discount .form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    text-align: center;
}

@media(max-width:991px){
    .discount .form{
        flex-basis: 100%;
    }
    .discount .image{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
}

.discount .form .input{
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px ;
    caret-color: var(--main-color);
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    outline: none;
}

.discount .form textarea.input{
    height: 200px;
    resize: none;
}

.discount .form [type="submit"]{
    width: 100%;
    display: block;
    padding: 15px;
    color: white;
    background-color: var(--main-color);
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
}

.discount .form [type="submit"]:hover{
    background-color: var(--main-color-alt);
}

/* end discount */

/* start footer */

footer{
    background-color: #191919;
    padding: 70px 0 0 ;
}



footer .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

footer .box h3{
    color: white;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

footer .box .social{
    display: flex;

}

footer .box .social li{
    margin-right: 10px;

}

footer .box .social li a {
    background-color:#313131;
    color:#f9f9f9 ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    transition: var(--main-transition);
}

footer .box .social .facebook:hover{
    background-color: #1877f2;
}
footer .box .social .twitter:hover{
    background-color: #1da1f2;
}
footer .box .social .youtube:hover{
    background-color: #f00;
}

footer .box .text{
    color: #b9b9b9;
    line-height: 2;
    margin-top: 20px;
}

footer .box .links li{
    padding: 15px 0;
    transition: var(--main-transition);
    
}
footer .box .links li a{
    color: #b9b9b9;

}

footer .box .links li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

footer .box .links li:not(:last-child){
    border-bottom: 1px solid #444;
}

footer .box .links li:hover{
    padding-left: 10px;
}

footer .box .links li:hover a{
    color: white;
}

footer .box .line{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}


footer .box .line i{
    color: var(--main-color);
    margin-right: 12px;
    font-size: 1.5em;
}


footer .box .line .info{
    color: #b9b9b9;
    line-height: 1.7;
   flex: 1;
}

footer .box .line .info span{
    display: block;
}


footer .Gallary img{
    width: 78px;
    border: solid 3px white;
    margin: 2px;
}

footer .copyright{
    color: white;
    text-align: center;
    padding: 25px 0 ;
    margin-top: 50px;
    border-top: 1px solid  #444;
}


/* end footer */


/* start animation */
@keyframes up-and-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes bouncing{
    0%,10%,20%,50%,80%,100%{
        transform: translateY(0);
    }
    40%,60%{
        transform: translateY(-20%);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }

}

@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }

}

@keyframes moving-arrow {
    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0px);

    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* end animation */